html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
}


img {
    display: block;
}

:root {
    --text-color:#212121;
    --link-hover-color:#2196F3;
    --esle-color: #757575;
    --white-color: #ffffff;
    --backcolor:#E5E5E5;
    --backcolor-our-team:#F5F4FA;
    --footer-color:#2F303A;
    --font-family-roboto: Roboto, sans-serif;
    --font-family-railway: Raleway, cursive;
    }


body {
    width: 100%;
    background-color: var(--white-color);
    color: var(--text-color);
    font-family: var(--font-family-roboto);
    letter-spacing: 0.03em;
    text-decoration: none;
}
button {
    font-family: inherit;
    text-decoration: none;
    
}

.none {
    list-style: none;
}

.visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    padding:0 !important;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* ========================== modal window =========================== */


.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);

    opacity: 1;
    visibility: visible;
    pointer-events: unset;
  
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
    position: absolute;
    left: 50%;
    top: 80px;
    transform: translateX(-50%);
    width: 528px;
    height: 581px;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    opacity: 1;

    transition: transform 250ms linear 150ms;
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}


.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all 250ms linear 250ms;
  }
  .backdrop.is-hidden .modal {
    transform: translateY(-50%) scale(0);
    transition: transform 250ms linear 0s;
  }


.modal-head {
    margin-bottom: 12px;
    margin-top: 40px;
    font-weight: 700;
    font-size: 20px;
    line-height:1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-color);
}

.modal-form-field {
    display: flex;
    flex-direction: column;
    padding: 0 40px;
  }
   
.modal-form-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 42px;
  }

.modal-form-input:hover,
.modal-form-input:focus{
    border: 1px solid #2196F3;
    outline: none;
} 
.modal-form-input:hover ~ .social-svg-sign,
.modal-form-input:focus ~ .social-svg-sign {
    --color1: var(--link-hover-color);
  }

.modal-form-message {
    margin-bottom: 20px;
    font-family: var(--font-family-roboto);
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;
    padding: 12px 16px;
}

.modal-form-message:hover,
.modal-form-message:focus{
    border: 1px solid #2196F3;
    outline: none;
}

.social-svg-sign {
    width: 18px;
    height: 18px;
    top: 50%;
    left: 0;
    transform: translateY(-160%);
    margin-left: 12px;
    justify-content: center;
    align-items: center;
}

.social-svg-footer-sign{
    width: 18px;
    height: 18px;
    margin-left: 12px;
    justify-content: center;
    align-items: center;
    --color1: var(--white-color);
}


.modal-form-input-label {  
    pointer-events: none;
    font-size: 12px;
    line-height: 1.667;  
    letter-spacing: 0.01em;
    color:var(--esle-color)
}

.modal-form-check {
    margin-top: 20px; ;
    font-size: 14px;
    line-height: 1.143px;
    letter-spacing: 0.01em;
}

.modal-form-check:hover  {
    border: var(--link-hover-color);
}
.modal-check-span{  
    font-size: 14px;
    line-height: 1.174px;
    letter-spacing: 0.03em;
    color: #757575;
}

.modal-form-btn {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    border: none;
    width: 200px;
    height: 50px;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    color:var(--white-color);
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
}



.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;

    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    }


    .modal-form-check:checked + .modal-form-label-check::before {
        background-image: url(../images/galo4ka.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-color: var(--link-hover-color);
   
      }
      
      .modal-form-label-check {
        display: flex;
        align-items: center;
      }
      
      .modal-form-label-check::before {
        display: block;
        content: "";
        width: 16px;
        height: 16px;
        outline: 1px solid #000;
        margin-right: 6px;
      }


/* ===================== modal window happy end =========================== */
/* ===header=== */
.header {
    background-color: var(--white-color);
    border-bottom: 1px solid #ECECEC;
} 
  
.flex {
    display: flex; 
    }

.container-header-nav{
    display: flex;
    align-items: center;
}

.link-nav {
    list-style: none;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.link-nav li {
    margin-right: 50px;
}

.link-nav li:last-child {
    margin-right:0;
}

.logoweb {
    padding-top: 24px;
    padding-bottom: 25px;
    padding-left: 0;
    margin-right: 93px;
    color: var(--text-color);
    font-family: var(--font-family-railway);
    font-size: 24px;
    line-height: 1.17;
    text-decoration: none;
}

.logoweb-color {
    color: var(--link-hover-color);
}

.nav {
    display: flex;
    align-items: center;
 }

.link {
    color:var(--text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }


  .link:hover,
  .link:focus {
      color: var(--link-hover-color);
  }

.link-nav .link.current {
    color: var(--link-hover-color);
    letter-spacing: 0.02em;
  
    position: relative;
  }
  .link.current::after {
    display: block;
    content: "";
    width: 100%;
    height: 4px;
    background-color: var(--link-hover-color);
    position: absolute;
    top: 43px;
  }

.contact-nav {
    list-style: none;
    display: flex;
    margin-left: auto;
    padding-left: 0;
    align-items: center;
    justify-content: center;
}

.contact-nav li {
    margin-right: 30px;
    align-items: center;
    justify-content: center;
}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--esle-color);
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    text-decoration: none; 
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-icon{
    fill: currentColor;
    width: 20px;
    height: 20px;
    margin-right: 8px;
  
}

.contact:hover ,
.contact:focus {
  color:var(--link-hover-color)
}

/* --------------------------- header's happy end ------------------------------------- */

/* STUDIO */

/* ====HERO==== */


.section-hero {
    display: flex;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
        url(../images/1-hero/background.jpg);
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
    max-width: 1600px;
    min-height: 600px;
    padding: 50px 0;

}

.cont-hero {   
    max-width: 726px;
    padding: 0 15px;
    margin: auto;
}

.business-h-one {
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--white-color);
}
.studio-button {
    display: inline-block;
    border-radius: 4px;
    padding: 10px 32px;
    border: none;
    color: var(--white-color);
    background-color: var(--link-hover-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    letter-spacing: 0.06em;

    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .studio-button:hover,
  .studio-button:focus {
      cursor: pointer;
  }


/* ---------------------------hero happy end------------------------------------- */

/* ====== section skills ====== */

.skills {
    padding-bottom: 94px;
    background-color: var(--backcolor);
}


.business-li {
    display: flex;
    padding-left: 0;
    padding-top: 94px;
}

.business-li-item {
    margin-right: 30px;
    width: 270px;
    height: 101;
}

.skills-container {
    background:var(--backcolor-our-team);
    width: 270px;
    height: 120px;
    border-radius: 4px;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 30px;
}

.skills-item-1 {
    background-image: url(../images/2-skills/antenna\ 1.png);
   }

.skills-item-2 {
    background-image: url(../images/2-skills/clock\ 1.png);
   }

.skills-item-3 {
    background-image: url(../images/2-skills/diagram\ 1.png);
   }

.skills-item-4 {
    background-image: url(../images/2-skills/astronaut\ 1.png);
   }

.business-header {
    color: var(--text-color);
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
}

.business-comment {
    color: var(--esle-color);
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
}

/* --------------------------- skills happy end ------------------------------------- */


/* -----------section What we do------------*/

.what-we-do-section {
    padding-bottom: 94px;
    background-color: var(--backcolor);
}

.what-we-do {
    text-align: center;
    margin-bottom: 50px;
}

.what-we-do-ul {
    display: flex;
    flex-wrap: wrap;
    width: calc(100%-60px/3);
    padding-left: 0;
}

.what-we-do-ul li {
    margin-right: 30px;
}
 .what-we-do-ul li:last-child {
     margin-right: 0;
 }


.what-we-do-li {
    position: relative;
    display: flex;
    flex-wrap: wrap;    
    margin-right: 30px;
}

.text-what-we-do { 
    position: absolute;
    bottom: 0;
    left: 0;    
    width: 370px;
    font-weight: 700;
    padding: 27px 0;
    font-size: 14px;
    line-height: 1.143;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--white-color);
    background: rgba(47, 48, 58, 0.8);
}

/* --------------------------- skills happy end ------------------------------------- */

/*-------------- section our team -------------- */

.our-team-section {
    padding-left: 0;
    padding-bottom: 94px;
    background: var(--backcolor-our-team);
}

.header-h-three {
    padding-top: 94px;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    /* margin-top: 0; */
    margin-bottom: 50px
}

.our-team-ul {
    display: flex;
    padding: 0;
}

.our-team {
    margin-right: 30px;
    list-style: none;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-photo-comment {
    width: 270px;
    height: 168px;
    background-color: var(--white-color);
    text-align: center;
    border-radius: 0px 0px 4px 4px;  
}
.social-list-item-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: var(--white-color);
    color: #AFB1B8;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}


.social-list-item-link:hover,
.social-list-item-link:focus {
    background-color: var(--link-hover-color);
    --color1: #FFFFFF;
}

.social-svg {
     width: 20px;
     height: 20px;
 }
 
.social-svg-footer {
   --color1: var(--white-color);
    width: 20px;
    height: 20px;
}

.social-item:not(:last-child) {
    margin-right: 10px;
}

.team-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
    padding-top: 30px;
}

.profession {
    color: var(--esle-color);
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    /* margin-top: 0;
    margin-bottom: 0; */
    padding-bottom: 30px;
}


/* --------------------------- section our team happy end------------------------------------- */

/*---------------------------- our client section ---------------------------- */

.our-client-section {
    padding-top: 94px;
    padding-bottom: 94px;
}


.client-ul {
 display: flex;
 flex-wrap: wrap;
 width: calc(100%-150px/6);
 padding-left: 0;
}

.client-ul li:not(:last-child) {
    margin-right: 30px;
}

.client-header {    
    font-weight: 700px;
    font-size: 36px;
    line-height: 1.167;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
}

.client-item-a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 90px;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-item-li  {
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-svg {
    fill: var(--esle-color);
    transition:  fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-item-li .client-item-a:hover,
.client-item-li .client-item-a:focus {
    border-color:var(--link-hover-color);
}

.client-item-li:hover .client-svg,
.client-item-li:focus .client-svg {
  fill: var(--link-hover-color);
}


/* --------------------happy end our client---------------------- */

/* ------------ footer ------------ */

.footer {    
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--footer-color);
   }

.address {
    font-style: normal;
}

.logoweb-footer {
    display: inline-block;
    padding-top: 60px; 
    margin-bottom: 20px;
    color: var(--white-color);
    font-family: var(--font-family-railway);
    font-weight: 700;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-decoration: none;    
}

.footer-logo {
    padding-left: 0;
    padding-bottom: 60px;
}

.address {
    color: var(--white-color);
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    text-decoration: none;
    margin-bottom: 9px;
}

.contact-footer {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color:var(--esle-color);
    text-decoration: none;
}

.joint{
    display: flex;
}
.joint-head{
    font-family: Roboto;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.connect {
    margin-top: 72px;
    margin-right: 93px;
}

.footer-item .social-item-svg {
    fill: var(--primary-white-color);
    width: 20px;
    height: 20px;
  }
  .footer-item:hover,
  .footer-item:focus {
    background-color: var(--accent-color);
  }

.connect-item {
       background-color: rgba(255, 255, 255, 0.1);
     
}
.connect-item:hover
.connect-item:focus {
    background-color: #2196F3;
}

.subscribe {
    display: flex;
    flex-wrap: wrap;
}
.subscribe-p{
    margin-top: 72px;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #FFFFFF;
}

.form-fotter {
    justify-content: center;
    align-items: center;
    text-align: center;
}



.modal-form-input-footer {
    margin-right: 12px;
    padding-left: 16px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 358px;
    height: 50px;
       
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    background: #2F303A;
    color: #FFFFFF;
}

.modal-form-input-footer:hover,
.modal-form-input-footer:focus{
   
    outline: none;
}

.modal-form-btn-footer {
    padding-bottom: 2px;
    border: none;
    text-align: center;
    width: 200px;
    height: 50px;
    background: #2196F3;
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    color:var(--white-color);
    letter-spacing: 0.06em;
}
/* ---------------------------footer happy end------------------------------------- */

/* ============ PORTFOLIO ============ */

/* section hero */

.section-hero-portfolio{
    background-color: var(--backcolor);
}

.button-portfolio-ul {
    display: block;
    display: flex;
    padding-left: 0;
    padding-top: 94px;
    padding-bottom: 50px;
    margin-left: 280px;
}

.button-portfolio-li {
    margin-right: 8px;
}

.button-portfolio {
    display: inline-block;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    padding: 6px 22px;
    background: #F5F4FA;
    border-radius: 4px;
    color: var(--text-color);
    background-color:var(--backcolor-our-team);  

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms; 
}

.button-portfolio:hover ,
.button-portfolio:focus {
    background-color: var(--link-hover-color);
    color: var(--white-color);
}
/* ------------hero happy end---------------- */
/* ---------section 2---------- */

.section-2-port  {
    background-color: var(--backcolor);
}

.con {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto
}

.porfolio-ul {
    padding-left: 0;
    margin-right: 0;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 94px;
}


.li-portfolio {
    position: relative;
    width: 370px;
    height: 404px;
    margin-right: 30px;
    margin-bottom: 30px;  
    overflow: hidden;

}


.li-portfolio:nth-child(3n) {
    margin-right: 0;
}

.li-portfolio:nth-last-child(-n+3) {
    margin-bottom: 0;
}

.overlay {
    position: absolute;
    padding: 63px 27px;
    top: 0;
    left: 0;
    width: 100%;
    height: 294px;
    background: rgba(33, 150, 243, 0.9);
    color: var(--white-color);
    visibility: hidden;
  
    transform: translatey(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }


  .li-portfolio:hover .overlay,
  .li-portfolio:focus .overlay {
    transform: translatex(0);
    visibility: visible;
  }

.link-portfolio {
    text-decoration: none;
}

.li-portfolio:hover,
.li-portfolio:focus {
    border: 1px solid #EEEEEE;
    box-sizing: border-box;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.photo-comment-port {
    position: relative;
    width: 370px;
    height: 110px;
    background-color: #fff;
    padding-left: 24px;
    z-index: 2;
}

.header-two {
    color: var(--text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-bottom: 4px;
    padding-top: 20px
}

.type {
    color: var(--esle-color);
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
    padding-bottom: 20px;
}
